<!DOCTYPE html>
<html>
<head>
    <title>VM Management</title>
</head>
<body>
    <h1>List of VMs</h1>
    <ul>
        {% for vm_name in vm_names %}
        <li>{{ vm_name }}</li>
        <form method="post" action="/start_vm">
            <input type="hidden" name="vm_name" value="{{ vm_name }}">
            <button type="submit">Start</button>
        </form>
        <form method="post" action="/stop_vm">
            <input type="hidden" name="vm_name" value="{{ vm_name }}">
            <button type="submit">Stop</button>
        </form>
        {% endfor %}
    </ul>
</body>
</html>
